img {
    border-radius: 5px;
    max-width: 35%;
    height: auto;
  }

  h1 {
    text-align: center;
  }

  footer{
    position: fixed;
    max-width: 100%;
    left: 20;
    bottom: 0;
  }


  .akcio{
      font-size: 20;
  }
  